@use 'theme';

@mixin rounded($radius: theme.$space-s) {
  border-radius: $radius;
}

@mixin flex($gap: theme.$space-default) {
  display: flex;
  gap: $gap;
}

@mixin grid($cols: 2, $gap: theme.$space-default) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($cols, 1fr);
}

@mixin flex-column($gap: theme.$space-default) {
  @include flex($gap);
  flex-direction: column;
}

@mixin image-s {
  @include rounded;
  display: block;
  margin: 0 auto;
  width: auto;
  height: 12.5rem; // 200px
  box-shadow: 0px 0px 10px 0px theme.$grey-color;
}

@mixin input($height: theme.$space-l) {
  @include rounded;
  height: $height;
  font-size: large;
  padding: 0 theme.$space-s;
  margin: theme.$space-s 0 theme.$space-default 0;
}

@mixin fieldset {
  @include flex-column(0);
  padding: 0;
  margin: 0;
  border: none;

  label {
    font-size: large;
  }

  input {
    @include input;
    width: 12rem; // 192px
  }

  textarea {
    @include input(15rem); // 240px
    resize: vertical;
  }
}