@use './core/styles/theme';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: theme.$secondary-color;
  font-family: theme.$font;
  height: 100%;

  main {
    margin: 0 25%;
    align-content: center;

    a {
      text-decoration: none;
    }
  }
}