@use 'theme';

@mixin rounded($radius: theme.$space-s) {
  border-radius: $radius;
}

@mixin flex($gap: theme.$space-default) {
  display: flex;
  gap: $gap;
}

@mixin flex-column($gap: theme.$space-default) {
  @include flex($gap);
  flex-direction: column;
}

@mixin image-s {
  @include rounded;
  display: block;
  margin: 0 auto;
  width: auto;
  height: 12.5rem; // 200px
  box-shadow: 0px 0px 10px 0px theme.$grey-color;
}