@use './core/styles/theme';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: theme.$secondary-color;
  font-family: theme.$font;
  height: 100%;

  main {
    margin: 0 25%;
    align-content: center;
    transition: margin .5s;

    @media (max-width: theme.$breakpoint-m) {
      margin: 0 10%;
    }

    a {
      text-decoration: none;
    }

    .error-message {
      color: theme.$error-color;
    }
  }
}